<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleships - Main Menu</title>
    <link rel="stylesheet" href="/static/mainMenu/style.css">
</head>
<body>
    <center>
        <div id="btn-container">
            <form action="playmultiplayer"><button id="btnPlayMulti" type="submit">Play Multiplayer</button></form>
            <button id="btnPlaySingle">Play Singleplayer</button>
            <form action="/settings"><button id="btnSettings" type="submit">Settings</button></form>
            <button id="btnAbout">About</button>
        </div>
    </center>
</body>
</html>